@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>

    <hr>
    <main>
        <div class="row mt-5">
            <div class="col-md">
                <partial name="_Register" />
            </div>
            <div class="col-md">
                <partial name="_Login" />
            </div>
    </main>

</div>
